#-----	--------	---------	---------	---	---	--------
#Index	FileName	Resi1info	Resi2info	Seq	Euc	SolvPath
#-----	--------	---------	---------	---	---	--------
1	1brs.pdb	LYS-39-A-NZ	LYS-1-D-NZ	72	13.2	13.5
2	1brs.pdb	LYS-62-A-NZ	LYS-21-D-NZ	69	15.3	16.0
3	1brs.pdb	LYS-27-A-NZ	LYS-78-D-NZ	159	17.5	18.7
4	1brs.pdb	LYS-27-A-NZ	LYS-21-D-NZ	104	19.1	20.5
5	1brs.pdb	LYS-39-A-NZ	LYS-22-D-NZ	93	18.7	20.7
6	1brs.pdb	LYS-39-A-NZ	LYS-78-D-NZ	147	20.6	21.2
7	1brs.pdb	LYS-27-A-NZ	LYS-1-D-NZ	84	19.3	21.2
8	1brs.pdb	LYS-39-A-NZ	LYS-21-D-NZ	92	21.2	23.0
9	1brs.pdb	LYS-39-A-NZ	LYS-2-D-NZ	73	21.8	23.3
10	1brs.pdb	LYS-27-A-NZ	LYS-22-D-NZ	105	24.2	24.9
11	1brs.pdb	LYS-62-A-NZ	LYS-1-D-NZ	49	24.6	27.3
12	1brs.pdb	LYS-27-A-NZ	LYS-2-D-NZ	85	26.0	28.3
